<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mdshoumikahammed.universityofrajshahifullmap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".First" />
        <activity android:name=".Second" />
        <activity android:name=".Third" />
        <activity android:name=".Fourth" />
        <activity android:name=".Shirajy" />
        <activity android:name=".Momotaj" />
        <activity android:name=".Shohidullah" />
        <activity android:name=".Robindro" />
        <activity android:name=".Agriculture" />
        <activity android:name=".RaselSchool" />
        <activity android:name=".Charukola" />
    </application>

</manifest>